<div class="flex">

    <div class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-primary
    text-white-shadow">  

      <div class="sidebar-icon group">

        <i class="fa-solid fa-square-poll-vertical" routerLink="/dashboard"></i>
        <span class="sidebar-tooltip group-hover:scale-100">
          Dashboard
        </span>

      </div>


      <div class="sidebar-icon group">

        <i class="fa-solid fa-user" routerLink="/heroes"></i>
        <span class="sidebar-tooltip group-hover:scale-100">
          Heroes
        </span>
        
      </div>


      <div class="sidebar-icon group">

        <i class="fa-solid fa-plus" routerLink="/create"></i>
        <span class="sidebar-tooltip group-hover:scale-100">
          Create New Hero
        </span>
        
      </div>
                  
    </div>  

</div>


<router-outlet></router-outlet>


<!-- <app-messages></app-messages> -->
