
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> 
        Nome Heroi 
      </th>
      <th>
        Ações
      </th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of listaHeroi | async">
      <td>
        <div class="fw-bold">{{hero.name}}</div>          
      </td>
      <td>
        <!-- <button class="btn btn-sm btn-danger" title="Excluir Registro" (click)="delete(hero)">x</button> -->
        <button class="btn btn-sm" title="editar registro"(click)="editar(hero)">edit</button>
      </td>
    </tr>  
  </tbody>
    
</table>
