<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group">
        <input type="hidden" name="Id" [(ngModel)]="heroFormService.formData.id" />
    </div>
      <div class="form-group">
        <label>
          Nome do Herói:
        </label>
        <input placeholder="digite o nome do heroi aqui.." 
        name="Name" #Name="ngModel" [(ngModel)]="heroFormService.formData.name" class="form-control" required>
        <div class="validation-error" *ngIf="Name.invalid && Name.touched">
          Este campo é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label>
          Poder do Herói:
        </label>
        <input placeholder="digite o Poder do Herói aqui.."  name="Power" #Power="ngModel" [(ngModel)]="heroFormService.formData.Power" class="form-control">
      </div>
      <div class="form-group">
        <label>
          Ajudante:
        </label>
        <input placeholder="digite o nome do Ajudante aqui.."  name="Sidekick" #Sidekick="ngModel" [(ngModel)]="heroFormService.formData.Sidekick" class="form-control">
      </div>
  
  <div class="form-row">
  
    <div class="form-group col-md-6">
      <label>
        Idade:
      </label>
      <input placeholder="digite a Idade aqui.."  name="Idade" #Sidekick="ngModel" [(ngModel)]="heroFormService.formData.Idade" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>
        Tipo Sanguíneo:
      </label>
      <input placeholder="digite o Tipo Sanguíneo aqui.."  name="TipoSanguineo" #Sidekick="ngModel" [(ngModel)]="heroFormService.formData.TipoSanguineo" class="form-control">
    </div>
  
  <div class="form-group">
  
    <button type="button" (click)="goBack()" class="btn btn-default">
      Voltar
    </button>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
      Salvar
    </button>
  
  </div>
  
  </div>
  
  </form>
