<div class="header center">Novo Cadastro</div>

<form [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="form-group">

    <label>
      Login:
    </label>

    <input type="text" id="email" placeholder="Email" autocomplete="off" formControlName="email" required>

  </div>

  <div class="form-group">
    <label>
      Senha:
    </label>

    <input type="password" id="password" placeholder="Senha" formControlName="password" required>

  </div>

  <div class="form-group">
    <label>
      Confirme a Senha:
    </label>

    <input type="password" id="confirm-password" placeholder="Confirme a Senha" formControlName="confirmPassword" required>

  </div>

  <div class="actions">
    <button color="primary" type="submit">Criar Novo Usuário</button>
  </div>

</form>